<nav class="navbar navbar-dark bg-dark container-fluid mb-3">
  <div class="navbar-brand container-fluid">
    <div class="navbar-actions container-fluid">
      <span class="fa-stack fa-lg">
        <i class="fa fa-home me-2 fa-inverse" routerLink="/home"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-university me-2 fa-inverse" routerLink="/who"></i>
      </span>
      <span class="fa-stack fa-lg">
        <img class="ico" src="/assets/unnamed.ico"/>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-users me-2 fa-inverse" routerLink="/bands"></i>
      </span>
      <span class="fa-stack fa-lg">
        <i class="fa fa-user-plus me-2 fa-inverse" routerLink="/asociarse"></i>
      </span>
    </div>
  </div>
  <!-- Navbar content -->
</nav>
