<div class="container-fluid">
  <div class="tex">
    <span>Noticias</span>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non velit
      corrupti deleniti sed iure possimus nobis, maiores accusantium ipsum iste
      labore ullam obcaecati incidunt! Corporis earum voluptatibus omnis quasi
      beatae facilis quia saepe doloribus fuga assumenda? Aspernatur autem quia
      beatae, dolor aperiam corrupti quasi excepturi! Adipisci alias sed officia
      veniam impedit est necessitatibus, nam ea unde iste quae deserunt nostrum
      eligendi aliquid, numquam ratione sapiente nemo quos voluptates eveniet
      facilis consectetur at minus? Suscipit veritatis quibusdam dolore
      voluptatum, nesciunt, amet impedit officiis sunt possimus vel voluptates
      perspiciatis nisi maxime aut dolor magnam obcaecati aspernatur? Placeat
      quisquam nulla perspiciatis amet magni, voluptatum ipsa possimus animi
      consectetur? Optio dolorem sit sed quisquam, perspiciatis deserunt
      aspernatur ex debitis commodi? In provident deleniti debitis cupiditate,
      dicta quis veniam sed incidunt. Placeat aliquid hic, nihil, eius ipsa eum
      error omnis aut adipisci reiciendis explicabo quibusdam consequuntur, unde
      culpa porro nemo id! Dolorem praesentium perferendis, laudantium quasi
      quidem nisi eaque, laboriosam doloremque soluta culpa, accusamus tenetur
      autem nihil adipisci molestias possimus nulla eius voluptatibus velit
      voluptatum labore! Quibusdam odio ipsa mollitia tempora ab, sapiente quo
      quae, at inventore totam architecto distinctio dolorem eum. A cupiditate,
      obcaecati quo perspiciatis ducimus quos possimus fuga totam accusantium
      saepe harum rerum sit doloremque iusto nesciunt reiciendis ad voluptates
      quaerat commodi asperiores nulla aliquam dolorem sapiente. Modi odio earum
      itaque voluptate eos similique at vel porro. Possimus a et earum quae
      maxime inventore rem! Eos harum ad ab ducimus similique quod itaque
      accusamus et, totam omnis corporis, in expedita, non minus? Adipisci omnis
      dignissimos sequi delectus qui necessitatibus rem quia earum mollitia,
      voluptatum suscipit eius error, et cupiditate nobis nemo laboriosam libero
      ea veritatis molestiae eos! Molestiae, in sed. Ratione vero doloremque
      laudantium quisquam esse recusandae distinctio perferendis optio. Quae
      iste sunt neque tempore atque, suscipit inventore dolorem necessitatibus
      sequi ipsam repudiandae expedita distinctio voluptate? Ratione dicta qui
      temporibus dolorem suscipit praesentium labore reiciendis voluptatem
      asperiores quam, tempora sed enim nobis ducimus fuga! Deleniti blanditiis
      esse dolor est magni fugit itaque, eligendi, cupiditate explicabo facere
      quam natus similique quisquam nihil, officia minus et eius corporis! Neque
      commodi nisi ducimus ullam quidem quasi nihil incidunt nulla odio
      provident maxime magni distinctio facilis voluptates, obcaecati ratione
      exercitationem quam temporibus? Optio ea beatae incidunt? Cumque accusamus
      unde commodi, nisi provident cum perspiciatis laboriosam nulla quo
      architecto eligendi pariatur ipsum obcaecati dolorum consequatur
      reprehenderit nobis. Nihil asperiores tempora incidunt ut, molestias
      maxime veritatis distinctio animi neque soluta dignissimos culpa minus
      quas expedita facilis quidem dolor vero molestiae deserunt nesciunt ab ad!
      Consectetur sit corporis veniam, expedita eum odit fuga nam earum.
      Aspernatur et magnam quibusdam corrupti dolor eligendi repellat est hic
      sint totam sed illum sequi facere eius fugit atque minima nihil
      consequatur odio, impedit quod maiores. Est iusto excepturi qui
      exercitationem aliquam quas sed et quibusdam nulla praesentium,
      consectetur culpa, sequi dicta quos. Pariatur, mollitia praesentium.
      Impedit deserunt voluptates placeat fugit cupiditate delectus nam, et
      laborum ea incidunt quis veniam odit fuga asperiores! Nisi cupiditate
      eaque aliquam, iusto numquam obcaecati ratione eveniet eum praesentium!
      ipsum dolor sit amet, consectetur adipisicing elit. Est ipsa eveniet
      assumenda. Dolor cupiditate consequuntur atque in, omnis illo voluptates
      dolore error perferendis. Excepturi repellendus culpa sequi cupiditate
      sunt totam quos, voluptates ratione amet ea.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, ut. Itaque
      asperiores velit sequi illum est aperiam repellendus modi ipsa, amet
      dolorem explicabo cum eaque quaerat quos enim atque, aliquid a molestias?
      Repellendus, tempore! Sint rem iure, delectus architecto atque ut quia
      cupiditate a facere temporibus totam recusandae nesciunt ipsum? Cupiditate
      nam ratione iste iusto dolor! Beatae vel facilis velit aperiam? Laborum,
      illum quam? Quidem illum reiciendis soluta, pariatur ratione delectus
      assumenda perferendis esse tempore libero explicabo exercitationem maxime
      impedit veritatis nam dolores aut consequuntur id facilis? Dolorum fugiat
      non, repudiandae veniam sapiente vitae cupiditate facere nulla autem harum
      rerum ipsam laborum itaque libero adipisci dolorem, quis id recusandae sit
      culpa eum. Perferendis ducimus reprehenderit dolores, provident delectus
      nulla nostrum optio, nisi cum ea nobis, dignissimos officia consectetur ad
      dicta quia? Qui eos blanditiis neque architecto dolorem quidem illo nisi
      officia culpa laboriosam? Recusandae, eos, provident explicabo error
      excepturi assumenda sunt numquam necessitatibus molestias nobis alias esse
      velit dolores perspiciatis porro! Veniam libero rerum laborum consequuntur
      voluptas odio provident dolor totam ducimus, perferendis porro, maxime
      laudantium. Aut nisi rerum dicta! Alias quasi recusandae nulla inventore
      consequatur deleniti necessitatibus veritatis expedita nisi facilis
      molestiae maxime rerum iure obcaecati corporis quidem vel sint animi,
      sequi aperiam excepturi? Laborum placeat ratione vel, quo dolor, maiores
      nam consectetur facere reiciendis quasi eos minus molestiae sint
      architecto rerum eius pariatur quam itaque possimus recusandae ex, iste
      enim error unde? Doloribus incidunt possimus, dolorum nisi facere culpa
      nihil quod unde molestias optio quidem provident, porro architecto totam!
      Dolores a ipsa deleniti libero id velit porro impedit iste explicabo
      dicta, sint animi facilis optio sit laudantium veniam, quibusdam
      doloremque consectetur, rem harum aliquid quas! Quos veniam quas
      consequatur, aspernatur modi voluptas? Quia magnam expedita voluptatem
      placeat recusandae. Accusantium mollitia eos eveniet harum, assumenda,
      fuga consequatur, neque consequuntur facere temporibus sed minus placeat
      tempora totam voluptas dolor facilis veritatis! Quidem quibusdam cumque
      deleniti excepturi enim itaque laborum asperiores perferendis similique,
      iusto maiores? Rem ratione cupiditate id officia unde nemo ducimus
      pariatur eveniet enim nisi, numquam cumque repudiandae minus! Provident,
      quia iste quo ad molestiae, libero odio sapiente consequuntur, earum
      dolorum deserunt. Possimus voluptates, rerum sapiente reprehenderit vitae
      nobis animi cupiditate sequi distinctio officia nesciunt commodi
      voluptatem laboriosam nisi esse, repellat incidunt consequuntur est
      molestiae natus, illo sint quia. Magni ratione deserunt voluptatibus
      quidem nostrum tempore, tenetur quia asperiores explicabo qui, velit
      labore cupiditate doloremque consequuntur. Perferendis repudiandae aperiam
      asperiores dolores praesentium? Amet porro maiores eaque eveniet
      temporibus distinctio quam sint. Officiis sequi veniam molestiae nobis
      ipsa dolorum sunt atque dolor esse excepturi error, quis inventore vel
      perspiciatis consequatur cum ratione recusandae quo corporis animi
      reiciendis aliquam odio cupiditate. Accusamus eaque laboriosam quo sit
      temporibus? Esse sed quasi, perferendis neque accusamus eveniet numquam
      quo iure optio eum expedita eligendi tempora quaerat ipsa veniam possimus.
      Quo aliquam iste expedita minus sunt quibusdam vel excepturi vitae facilis
      deleniti eius a nostrum exercitationem cumque explicabo voluptates
      distinctio, reprehenderit fuga ducimus. Ad sequi perferendis enim
      explicabo ea amet odit et laborum pariatur voluptatem. ipsum dolor sit
      amet consectetur adipisicing elit. Voluptatum, deserunt? Error fuga
      doloremque, consequuntur fugit veniam nulla adipisci eos placeat ab optio
      temporibus voluptatum. Voluptate temporibus ratione aperiam atque
      accusamus!
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora officia
      ipsa repudiandae alias incidunt molestias quae esse quo vero non. Et nihil
      in eum asperiores non! Animi, laborum aliquid. Obcaecati sequi nulla
      minima qui voluptates quis velit ipsum magni sit doloribus perferendis
      quod dignissimos, sapiente dolor, rerum eveniet porro a harum numquam,
      alias nesciunt optio autem culpa dicta. Sint similique perferendis soluta
      natus fugiat beatae praesentium dicta? Laudantium culpa ipsam dolor
      fugiat, dolorum officiis natus tempora recusandae blanditiis, ratione
      necessitatibus eum ab, vero perferendis iure. Maxime pariatur excepturi
      voluptas similique officiis. Quos maiores quisquam facere aspernatur
      tenetur possimus, architecto perspiciatis laudantium. Aliquam recusandae
      ratione vero accusantium odio voluptas cumque et molestiae voluptates nisi
      veniam enim esse, illo deserunt quibusdam quidem provident. Sunt
      accusantium sed molestias necessitatibus. Laborum molestias ab, nam
      similique quidem non doloribus dolore sit asperiores repudiandae
      necessitatibus tempore? Ab, laudantium? Itaque repellat vel ex, optio
      quibusdam dolorum deserunt consequuntur molestiae, labore quas, qui dolor
      ipsam error magnam repudiandae deleniti et ipsa eligendi ad soluta nihil
      vero consectetur fuga eum. Non est suscipit minus quos, accusamus quae
      fugiat maxime soluta, odio odit officia consequatur eum? Laboriosam itaque
      rerum laborum, laudantium et pariatur saepe minus accusantium sunt totam
      quae alias eos voluptates quam sit suscipit aperiam atque, cupiditate
      doloribus error cumque. Natus impedit minima explicabo commodi possimus
      earum quia optio temporibus inventore sunt accusantium odit aut doloremque
      illum quasi facilis, voluptate iusto. Architecto illum consequuntur aut
      laboriosam, perferendis minima eveniet ipsum, itaque maiores et,
      blanditiis enim qui at incidunt fuga commodi error necessitatibus labore
      nesciunt rem distinctio? Culpa voluptatem cum, deserunt illo recusandae
      ullam enim nobis id laudantium ipsa odio soluta perferendis incidunt
      nulla. Suscipit quos, rerum obcaecati officia doloremque tenetur esse
      perspiciatis, quaerat exercitationem vel cum praesentium nostrum ipsa
      consectetur. Dolores nam sed quam cupiditate odit? Dicta laudantium
      molestias recusandae laboriosam voluptas, nisi quam animi. Voluptatem
      aperiam ex libero architecto nobis impedit, fugit magnam et necessitatibus
      natus saepe inventore facere, laudantium sequi vero ab nostrum debitis
      quam nihil, iure commodi. A illo nulla asperiores nobis dolor vitae magni
      modi, explicabo labore, sapiente quibusdam ipsa nam tenetur. Eligendi sint
      corporis quibusdam optio enim iste ratione in illum modi incidunt error
      ipsam sit debitis ducimus, distinctio atque itaque? Recusandae cum maxime
      officia facere quisquam ipsam veniam reprehenderit cupiditate quibusdam
      impedit possimus assumenda vitae totam, at vero ad, asperiores molestias,
      eveniet tempora odit fugiat. Corrupti, suscipit veniam. Id odio at aut
      quibusdam explicabo voluptates non quos magnam inventore perferendis
      sapiente, nulla incidunt commodi? Dolorem quod cum in expedita quia. Quod
      eius cumque, eos numquam nostrum itaque debitis harum deserunt odit id.
      Saepe numquam voluptate, sunt ipsa nihil maxime ipsam exercitationem
      corporis omnis repellendus dolores impedit voluptatibus ipsum. Nesciunt
      aliquid, cum accusamus dolorem sit consectetur veniam, ea voluptas
      molestias laboriosam iure repellendus? Minus maiores ea laboriosam, minima
      ullam inventore ipsa labore officiis dolorum suscipit quis nemo blanditiis
      in debitis quas, nobis explicabo. Aperiam, reiciendis? Animi maiores
      corporis quod aut quasi fuga accusantium at repudiandae. Vero impedit
      alias quas saepe nihil neque sequi assumenda! ipsum dolor sit amet
      consectetur adipisicing elit. Distinctio veniam ipsum quae aperiam itaque
      nihil nesciunt nisi optio! Sit expedita provident illo deleniti rerum
      atque est sapiente tenetur odio doloribus?
    </p>
  </div>
</div>
